<!DOCTYPE html>
<html>
    <head>
        <title>CU Games Club</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url_for('index') }}">CU Games Club</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('games') }}">Inventory</a></li>
                        <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                <div class="col-xs-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>